% -*- mode: erlang -*-

%% erlang opts ==================================================
{erl_opts, [
            debug_info,         % debug信息                                                                                    
            {parse_transform, lager_transform},  %% 用lager开源日志系统解析日志                                                
            smp,                                                                                                               
            native, {hipe, o3}, % 编译优化，并生成本地机器码                                                                   
            encrypt_debug_info, % 编译时加密,依赖~/.erlang.crypt,内容:[{debug_info, des3_cbc, [], "nananono_game_secret_key"}].
            error_summary,      % 错误概要                                                                                     
            verbose,                                                                                                           
            report,                                                                                                            
            %warn_export_all,   % export all视为警告                                                                           
            warn_obsolete_guard,    % old type testing BIFs                                                                    
            warn_shadow_vars,       % "fresh" vars                                                                             
            warnings_as_errors, % 警告视为错误                                                                                 
            fail_on_warning,    % 编译时检查是否有warning，如果有将编译报错                                                    
            {outdir, "ebin"},   % 编译输出beam路径                                                                             
            {i, "include"},     % 头文件路径                                                                                   
            %TODO 以下flag发布的时候关掉      
            {d, 'TEST'}        % TEST的debug宏
           ]}.

%% Deps ==================================================
{deps, [
    {mochiweb, {git, "git://github.com/mochi/mochiweb.git", {tag, "v2.15.1"}}},
    {lager, {git, "git://github.com/basho/lager.git", {tag, "3.2.4"}}},
    {ranch, {git, "git://github.com/ninenines/ranch.git", {tag, "1.3.0"}}}, 
    {protobuffs, {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.9.0"}}},
    {eredis, {git, "git://github.com/wooga/eredis.git", {tag, "v1.0.8"}}}
]}.

%% Dialyzer ==================================================
{dialyzer, [
    {warnings, [no_return,            
                no_unused,            
                no_improper_lists,    
                no_fun_app,           
                no_match,             
                no_opaque,            
                no_fail_call,         
                no_contracts,
                no_behaviours,
                no_undefined_callbacks,
                unmatched_returns,
                error_handling,       
                overspecs,
                underspecs,
                specdiffs,
                unknown,
                behaviours,
                race_conditions]},
    {get_warnings, true}
]}.

{relx, [
    {release, { game, "0.1.0" },
     [game,
      sasl]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]
}.

{profiles, [
    {prod, [{relx, [{dev_mode, false},
                    {include_erts, true}]}]
    }]
}.

%% Pre/Post Command Hooks ==================================================
{pre_hooks, [
    {compile, "apps/game/script/proto_id.escript proto proto src/proto"},                                       % proto_id映射
    {compile, "escript apps/game/script/gen_tab.escript apps/game/script/tab.conf apps/game/include/ apps/game/src/service"}         % 生成tab解析文件tab.hrl,db/table/*
    ]}.
{post_hooks, [
    {compile, "apps/game/script/gen_proto.sh beam ../../_build/default/lib/protobuffs/ebin ../../_build/default/lib/game/ebin"}   % 自己解析protobuf
    ]}.
